{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-align-center uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    {% if messages %}
        <div style="background: black; height: 70px; border-radius: 30px 10px;">
            <ul class="messages" style="padding-top: 25px">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: white">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        <h3 class="uk-card-title" style="font-family:Piazzolla">Crear Usuario</h3>
            <form class="uk-form-horizontal uk-margin-large" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="uk-margin">
                    <label class="uk-form-label" for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="{{ form.username.html_name}}" type="text">
                    </div>
                    {% if form.username.help_text %}
                    <p class="help">Requerido. 150 caracteres o menos. Letras, dígitos y @ /. / + / - / _</p>
                    {% endif %}
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="{{ form.password1.id_for_label }}">Contraseña:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="{{ form.password1.html_name}}" type="password">
                    </div>
                    {% if form.password1.help_text %}
                    <ul class="uk-list uk-list-hyphen">
                        <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                        <li>Su contraseña debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                        <li>Su contraseña no puede ser solamente numérica.</li>
                    </ul>
                    {% endif %}
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="{{ form.password2.id_for_label }}">Confirmar Contraseña:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="{{ form.password2.html_name}}" type="password">
                    </div>
                    {% if form.password2.help_text %}
                    <p class="help">Ingrese la misma contraseña que antes, para verificación.</p>
                    {% endif %}
                </div>
            <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
