{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    {% if messages %}
        <div style="background: black; height: 70px; border-radius: 30px 10px;">
            <ul class="uk-list uk-list-hyphen" style="padding-top: 25px">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: white">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h3 class="uk-card-title" style="font-family:Piazzolla">Editar Usuario</h3>
    <form class="uk-form-horizontal uk-margin-large" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }} 
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.password.id_for_label }}">Contraseña:</label>
            <div class="uk-form-controls">
                {{ form.password }}
            </div>
            {% if form.password.help_text %}
            {{ form.password.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.last_login.id_for_label }}">Ultima conexion:</label>
            <div class="uk-form-controls">
                {{ form.last_login }}
            </div>
            {% if form.last_login.help_text %}
            <p class="help">{{ form.last_login.help_text|safe }}</p>
            {% endif %}
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.is_superuser.id_for_label }}">Es superusuario:</label>
            <div class="uk-form-controls">
                {{ form.is_superuser }}                
            </div>
            {% if form.is_superuser.help_text %}
            {{ form.is_superuser.help_text|safe }}
            {% endif %}
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.groups.id_for_label }}">Grupos:</label>
            <div class="uk-form-controls">
                {{ form.groups }}
            </div>
            {% if form.groups.help_text %}
            {{ form.groups.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.user_permissions.id_for_label }}">Permisos:</label>
            <div class="uk-form-controls">
                {{ form.user_permissions }}
            </div>
            {% if form.user_permissions.help_text %}
            {{ form.user_permissions.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            <div class="uk-form-controls">
                {{ form.username }}
            </div>
            {% if form.username.help_text %}
            {{ form.username.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.first_name.id_for_label }}">Nombres:</label>
            <div class="uk-form-controls">
                {{ form.first_name }}
            </div>
            {% if form.first_name.help_text %}
            {{ form.first_name.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.last_name.id_for_label }}">Apellidos:</label>
            <div class="uk-form-controls">
                {{ form.last_name }}
            </div>
            {% if form.last_name.help_text %}
            {{ form.last_name.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.email.id_for_label }}">Correo electronico:</label>
            <div class="uk-form-controls">
                {{ form.email }}
            </div>
            {% if form.email.help_text %}
            {{ form.email.help_text|safe }}
            {% endif %}
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.is_staff.id_for_label }}">Es administrador:</label>
            <div class="uk-form-controls">
                {{ form.is_staff }}
            </div>
            {% if form.is_staff.help_text %}
            {{ form.is_staff.help_text|safe }}
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.is_active.id_for_label }}">Esta activa:</label>
            <div class="uk-form-controls" id="esta_activa">
                {{ form.is_active }}
            </div>
            {% if form.is_active.help_text %}
            {{ form.is_active.help_text|safe }}
            {% endif %}
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.date_joined.id_for_label }}">Fecha de creacion:</label>
            <div class="uk-form-controls">
                {{ form.date_joined }}
            </div>
            {% if form.date_joined.help_text %}
            <p class="help">{{ form.date_joined.help_text|safe }}</p>
            {% endif %}
        </div>
        <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px" name="_save">Actualizar</button>
    </form>
</div>
{% endblock %}

