{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    {% if messages %}
        <div style="background: black; height: 70px; border-radius: 30px 10px;">
            <ul class="messages" style="padding-top: 25px">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: white">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h3 class="uk-card-title" style="font-family:Piazzolla">Editar Usuario</h3>
    <form class="uk-form-horizontal uk-margin-large" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }} 
        {% for field in form %}
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            <div class="uk-form-controls">
                {{ field }}
            </div>
            {% if field.help_text %}
                <p>{{ field.help_text }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px" name="_save">Actualizar</button>
    </form>
</div>
{% endblock %}