{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    {% if messages %}
        <div style="background: black; height: 70px; border-radius: 30px 10px;">
            <ul class="messages" style="padding-top: 25px">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: white">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h3 class="uk-card-title" style="font-family:Piazzolla">Cambiar contraseña</h3>
    <form class="uk-form-horizontal uk-margin-large" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.new_password1.id_for_label }}">Contraseña nueva:</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="{{ form.new_password1.html_name}}" type="password">
            </div>
            {% if form.new_password1.help_text %}
            <ul class="uk-list uk-list-hyphen">
                <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una contraseña de uso común.</li>
                <li>Su contraseña no puede ser solamente numérica.</li>
            </ul>
            {% endif %}
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{ form.new_password2.id_for_label }}">Repetir contraseña:</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="{{ form.new_password2.html_name}}" type="password">
            </div>
        </div>
        <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px" name="_save">Cambiar</button>
    </form>
</div>
{% endblock %}

