{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Acerca de{% endblock %}

{% block contenido %}
    <div class="uk-card uk-card-secondary uk-card-body uk-align-center" style="border-radius: 30px 10px;">
        <h3 class="uk-card-title" style="font-family:Piazzolla">CETAF</h3>
        <p>
            El proyecto está dirigido al desarrollo de un software especializado para el control de los activos fijos; este  sistema ayudará en actualización y/o control de los datos al administrador de una manera rápida y eficaz.
        </p>
    </div>
{% endblock %}
