<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS y Scripts -->
        <link rel="stylesheet" href="{% static 'contenido/uikit/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static 'contenido/estilo.css' %}">
        <script src="{% static 'plugins/uikit/uikit.min.js' %}"></script>
        <script src="{% static 'plugins/uikit/uikit-icons.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>

        <title>
            {% block titulo %} Inicio | Cetaf {% endblock %}
        </title>
    </head>

    <style>
        html{
            background:url("{% static 'contenido/imagenes/fondo_72.jpg' %}");
            background-size: cover;
            background-attachment: fixed;
        }
        body{
            font-family: 'Inconsolata', monospace;
        }
    </style>

    <body>
        <div uk-grid>
            <div class="uk-width-expand@m">
                <div class="uk-card uk-card-secondary uk-card-body" style="margin: 20px; margin-bottom: 0px; border-radius: 10px 30px">
                    <button class="uk-icon-link" type="button" uk-toggle="target: #menu-lateral; animation: uk-animation-fade" uk-icon="icon: menu">Menu </button>
                    <span class="uk-float-right">
                        Hola,
                        {{user.username}}
                    </span>
                </div>
            </div>
        </div>
        <div uk-grid>
            <div class="uk-width-expand uk-visible@m">
                <div class="uk-card uk-card-secondary uk-card-body" style="margin: 20px; border-radius: 10px 30px">1-3</div>
            </div>
            <div class="uk-width-4-5">
                <div class="uk-card uk-card-secondary uk-card-body " style="margin: 20px; border-radius: 10px 30px">Expand</div>
            </div>
        </div>
    </body>
</html>