{% extends "asignaciones/index.html" %}

{% block titulo %}Borrar{% endblock %}

{% block contenido_asignacion %}
<form class="uk-form-horizontal uk-margin-large" method="post">
    {% csrf_token %}
    <div class="uk-modal-body">
        <dl>
            <dt>Nombre del activo:</dt>
            <dd>{{asignacion.nombre_activo}}</dd>
            <br>
            <dt>Persona responsable:</dt>
            <dd>{{asignacion.persona_responsable}}</dd>
            <br>
            <dt>Sede asignada:</dt>
            <dd>{{asignacion.sede_asignada}}</dd>
            <br>
            <dt>Ambiente asignado:</dt>
            <dd>{{asignacion.ambiente_asignado}}</dd>
            <br>
            <dt>Fecha de inicio (Entregado):</dt>
            <dd>{{asignacion.fecha_inicio}}</dd>
            <br>
            <dt>Fecha fin (Devolucion):</dt>
            <dd>{{asignacion.fecha_fin}}</dd>
            <br>
            <dt>Descripcion:</dt>
            <dd>{{asignacion.descripcion}}</dd>
            <br>
        </dl>
    </div>
    <span>¿Esta seguro que desea eliminar este registro?</span>
    <hr>
    <div uk-grid>
        <div>
            <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px">Eliminar</button>
        </div>
        <div>
            <a class="uk-button uk-button-secondary" href="{% url 'lts_asignacion' %}" style="border-radius: 30px 10px; width: 200px;">Regresar</a>
        </div>
    </div>
</form>
{% endblock contenido_asignacion %}