{% extends "sedes/index.html" %}

{% block titulo %}Crear{% endblock %}

{% block contenido_sede %}
<form class="uk-form-horizontal uk-margin-large" method="post">
    {% csrf_token %}
    {% for campo in form %}
        <div class="uk-margin">
            <label class="uk-form-label" for="{{campo.auto_id}}">{{campo.label}}</label>
            <div class="uk-form-controls">
                {{campo}}
            </div>
        </div>
    {% endfor %}
    <div uk-grid>
        <div>
            <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px">Guardar</button>
        </div>
        <div>
            <a class="uk-button uk-button-secondary" href="{% url 'lts_sedes' %}" style="border-radius: 30px 10px; width: 200px;">Regresar</a>
        </div>
    </div>
</form>
{% endblock contenido_sede %}