<!doctype html>
{% load static %}
<html lang="en" style="background:url({% static 'contenido/imagenes/fondo_64.jpg' %});
                        background-size: cover; background-attachment: fixed; background-repeat: no-repeat;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS y Scripts -->
        <link rel="stylesheet" href="{% static 'contenido/uikit/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static 'contenido/estilo.css' %}">
        <script src="{% static 'plugins/uikit/uikit.min.js' %}"></script>
        <script src="{% static 'plugins/uikit/uikit-icons.min.js' %}"></script>
        <script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>

        <title>
            {% block titulo %} Login | Cetaf {% endblock %}
        </title>
    </head>

    <style>
        body{
            font-family: 'Inconsolata', monospace;
        }
    </style>

    <body>
        <div class="uk-panel uk-padding uk-background-default uk-dark">
            <a href="{% url 'index' %}">Inicio</a>
        </div>
        <div class="uk-container uk-padding">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-dark">
            <h3 class="uk-card-title">Login</h3>
            <form class="uk-form-horizontal uk-margin-large" method="post">
                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="username">Nombre de usuario:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="username" type="text">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="password">Contraseña:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="password" type="password">
                    </div>
                </div>
                <button class="uk-button uk-button-danger" type="submit">Ingresar</button>
            </form>
        </div>
        </div>
        <footer class="uk-padding" style="text-align:center; color:white;">
            <span>CETAF 2020 | Creado por Shihan</span>
        </footer>
    </body>
</html>