{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Consultas{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-align-center uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    <h3 class="uk-card-title uk-text-bold">CONSULTAR ASIGNACIONES</h3>
    {% block contenido_consulta %}
    <table class="uk-table uk-table-hover uk-table-divider">
        <form action="{% url 'filtrar_consulta' %}" method="get">
            <input class="uk-input" name="buscar" type="text" placeholder="Buscar elemento" style="border-radius: 10px 2px;">
            <p>El elmento a buscar se puede buscar mediante:</p>
            <ul class="uk-list uk-list-disc uk-list-primary">
                <li>Nombre del activo</li>
                <li>Persona responsable del activo</li>
                <li>Categoria del activo</li>
                <li>Sede del activo</li>
                <li>Ambiente del activo</li>
            </ul>
            <button class="uk-button uk-button-default" type="submit" style="border-radius: 10px 2px;">Buscar</button>
        </form>
        <thead>
            <tr>
                <th>Activo</th>
                <th>Responsable</th>
                <th>Categoria</th>
                <th>Sede</th>
                <th>Ambiente</th>
                <th>Asignado</th>
            </tr>
        </thead>
        <tbody>
            {% for campo in lts_filtrada %}
                <tr>
                    <td>{{ campo.nombre_activo }}</td>
                    <td>{{ campo.persona_responsable }}</td>
                    <td>{{ campo.nombre_activo.categoria }}</td>
                    <td>{{ campo.sede_asignada }}</td>
                    <td>{{ campo.ambiente_asignado }}</td>
                    <td>{{ campo.fecha_inicio }}</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
    {% if lts_filtrada %}
        <a class="uk-button uk-button-secondary uk-align-center" href="{% url 'exportar_asignacion' %}" uk-icon="icon: file-text" style="width: 200px; border-radius: 10px 2px;">Exportar </a>
    {% endif %}
    {% endblock contenido_consulta %}
</div>
{% endblock %}