{% extends "home/index.html" %}
{% load static %}

{% block titulo %}Consultas{% endblock %}

{% block contenido %}
<div class="uk-card uk-card-default uk-card-body uk-align-center uk-box-shadow-xlarge uk-margin-small" style="border-radius: 30px 10px;">
    <h3 class="uk-card-title uk-text-bold">CONSULTAS</h3>
    {% block contenido_consulta %}
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        </ul>
        <ul class="uk-list uk-list-striped">
            {% for consulta in obj_pagina %}
                <li><a href="{% url 'detalle_consulta' consulta.id %}" uk-toggle>|+| {{consulta.nombre_activo.num_serie}}</a></li>
            {% endfor %}
        </ul>
        <div>
          <span>
              <ul class="uk-pagination uk-flex-center" uk-margin>
                  {% if obj_pagina.has_previous %}
                  <li><a href="?page=1">&laquo; Primera</a></li>
                  <li><a href="?page={{ obj_pagina.previous_page_number }}">Anterior</a></li>
                  {% endif %}

                  <span>
                      <li class="uk-disabled"><span>Pagina {{ obj_pagina.number }} de {{ obj_pagina.paginator.num_pages }}.</span></li>
                  </span>

                  {% if obj_pagina.has_next %}
                      <li><a href="?page={{ obj_pagina.next_page_number }}">Siguiente</a></li>
                      <li><a href="?page={{ obj_pagina.paginator.num_pages }}">ultima &raquo;</a></li>
                  {% endif %}
              </ul>
          </span>
        </div>
    {% endblock contenido_consulta %}
</div>
{% endblock %}