{% extends "ambientes/index.html" %}

{% block titulo %}Borrar{% endblock %}

{% block contenido_ambiente %}
<form class="uk-form-horizontal uk-margin-large" method="post">
    {% csrf_token %}
    <div class="uk-modal-body">
        <dl>
            <dt>Nombre del ambiente:</dt>
            <dd>{{ambiente.nombre}}</dd>
            <br>
            <dt>Descripcion:</dt>
            <dd>{{ambiente.descripcion}}</dd>
            <br>
            <dt></dt>
        </dl>
    </div>
    <span>¿Esta seguro que desea eliminar este registro?</span>
    <hr>
    <div uk-grid>
        <div>
            <button class="uk-button uk-button-danger" type="submit" style="border-radius: 30px 10px; width: 200px">Eliminar</button>
        </div>
        <div>
            <a class="uk-button uk-button-secondary" href="{% url 'lts_ambiente' %}" style="border-radius: 30px 10px; width: 200px;">Regresar</a>
        </div>
    </div>
</form>
{% endblock contenido_ambiente %}